body {
  background-color: #F5F6F7;
  color: #152855;
}
header {
  background-color: #152855;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  margin: 60px 0 10px 0;
}


main {
  padding: 30px;
  margin: 0 auto;
  width: 90%;
}

select {
  width: 20rem;
  padding: 5px;
}

select:hover {
  cursor: pointer;
}

span {
  font-size: 1.3rem;
}

table {
  margin-top: 10px;
}

td {
  text-align: center;
}

th {
  /* display: block; */
  border: 1px solid white;
  background-color: #686984;
  padding: 10px 30px;
  color: white;
}

tr {
  background-color: white;
  border-bottom: 1px dotted #686984;
}

ul {
  list-style: none;
}

#account, #from_to {
  margin-bottom: 20px;
}

#btn__add-account, #btn__add-transaction, #btn__add-category {
  background-color: #0055B9;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 120px;
}

#btn__add-account:hover, #btn__add-transaction:hover, #btn__add-category:hover {
   cursor: pointer;
   opacity: .7;
   transform: scale(.9);
   transition: all .5s;
}

#input__account, #input__amount, #input__category, #input__description {
  width: 20rem;
  padding: 5px;
}

#summary {
  display: flex;
  flex-wrap: wrap;
}

#summary div {
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgb(215, 215, 215);
  background-color: white;
  margin: 5px;
  padding: 10px;
  width: 300px;
}

#radio__deposit, #radio__withdraw, #radio__transfer {
  margin-right: 20px;
}

#radio__deposit:hover, #radio__withdraw:hover, #radio__transfer:hover {
  cursor: pointer;
}

.filtered {
  display: table-row !important; 
}

.wrap__amount, .wrap__category, .wrap__description, .wrap__radio {
   margin-bottom: 20px;
}